[package]
name = "master"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
axum = "0.7"
uuid = { version = "1", features = ["v4", "serde"] }
common = { path = "../common" }